body{
overflow: hidden;
}
#star-field {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}
#star-field .star {
  width: 2px;
  height: 2px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  z-index: -1;

}
#star-field .star.far {
  width: 1px;
  height: 1px;
  z-index: -1;

}
#star-field .star.near {
  width: 4px;
  height: 4px;
  z-index: -1;

}
#star-field .star.white {
  background: #fff;
  box-shadow: 0 0 15px #fff;
  z-index: -1;

}
#star-field .star.yellow {
  background: #BFBB40;
  box-shadow: 0 0 15px #BFBB40;
  z-index: -1;

}
#star-field .star.blue {
  background: #4444ff;
  box-shadow: 0 0 15px #4444ff;
  z-index: -1;

}
#star-field .star.red {
  background: #ff4444;
  box-shadow: 0 0 15px #ff4444;
  z-index: -1;
  
}